<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-item-hide">

  <ion-tab title="Login" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Inicio" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Piano" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/piano">
    <ion-nav-view name="tab-piano"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Archivo" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/archivo">
    <ion-nav-view name="tab-archivo"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Autor" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/autor">
    <ion-nav-view name="tab-autor"></ion-nav-view>
  </ion-tab>


</ion-tabs>
