/* Empty. Add your own CSS if you like */
ion-content{
	background: url('../img/music.jpg') bottom right fixed #00BFFF;
	color:snow;
}

button, ion-list div{
	opacity:0.9;
}
.card-background-page{
	padding:5%;
}

.card-background-page ion-card {
  position: relative;
  text-align: center;
}

.card-background-page ion-card img {
  background-color:#04B486;
  border-radius: 5px;
  opacity:0.8;
}

.card-background-page .card-title {
    position: absolute;
    top: -20%;
    text-transform: capitalize;
    left:-5%;
    font-size: 1.2em;
    width:100%;
    z-index:2;
    display:inline-block;
    color: #fff;
  }



.author-github a, a.author-email{
	text-decoration: none;
	font-style: oblique;
	color:#81F7D8;
}
.author-container{
	display:table-block;
	font-family:garamond;
	line-height:2.5rem;
	background-color:#04B486;
	height:75vh;
	width:90vw;
	border-radius: 20px;
	margin: 5vh 5vw;
	opacity:0.8;
  padding-top:10%;
}

div.archivo-container{
  background-color:white;
  width:90%;
  height:70%;
  opacity: 0.8;
  color:black;
  text-align: center;
  padding:10%;
}

@media(max-width: 480px){
  .card-background-page ion-card img {
    width:48%;
  }
  .author-container{
    font-size:1.5rem;
  }
  div.archivo-container{
    margin:5% 5%;
  }
}
@media(min-width: 481px) and (max-width: 749px){
  .card-background-page ion-card img {
    width:30%;
  }
  .author-container{
    font-size:2rem;
  }
  div.archivo-container{
    margin:10% 5%;
  }
}
@media(min-width: 750px){
  .card-background-page ion-card img {
    width:23%;
  }
  .author-container{
    font-size:2rem;
  }
  div.archivo-container{
    margin:15% 5%;
  }
}
